<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://documentservices.adobe.com/view-sdk/viewer.js"></script> <!-- Adobe API -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script> <!-- PDF.js -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- Axios -->
        <title>PDF Data-Save</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-container">
            <div class="pdf-wrapper">
                <h1 id="pdf-title"></h1>
                <div id="adobe-dc-view"></div>
                <!-- <iframe src="https://alilstorage.blob.core.windows.net/uscisforms/ef1af4c0-f029-11ed-8b82-bbf781c9d2bf.pdf?sv=2022-11-02&se=2023-05-13T15%3A01%3A43Z&sr=b&sp=r&sig=vW3hFrYY5B%2BAmprC948IM9ZZc4ZrpaMIQ7ow2nMfh5w%3D" frameborder="0"></iframe> -->
            </div>
            <div class="response-container">

                <button id="submitBtn" type="submit" class="submit-btn">Save Data</button>

                <div class="response">
                    <pre id="response-text" ><%= data ? data : 'Data from the sv not found!' %></pre>
                </div>
            </div>
        </div>
        

        <script type="module" src="/js/adobeScripts.js"></script>
        <!-- <script type="module" src="/js/scripts.js"></script> -->
    </body>
</html>

